@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family:'helvetica';
    src:url('/fonts/helvetica.ttf')
}
@font-face{
    font-family:'helvetica-bold';
    src:url('/fonts/helveticabold.ttf')
}
@font-face{
    font-family:'clashgrotesk';
    src:url('/fonts/clashgrotesk.otf');

}
@font-face{
    font-family:'cascadia';
    src:url('/fonts/cascadia.ttf');

}
body{
    color:#232323;
}

.home-bg{
background-image:url('/images/home.jpg');
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-image: linear-gradient(to right bottom, #6cd0ff, #59a3d1, #4579a4, #315277, #1c2e4c);
}